x-common-service: &quantum-bot-base
  image: quantum-bot
  build: .
  restart: unless-stopped
  environment:
    - BOT_PREFIX=${BOT_PREFIX}
    - BOT_TOKEN=${BOT_TOKEN}
  volumes:
    - ${LOCAL_CONFIG_DIRECTORY_PATH}:/app/config

services:
  client:
    <<: *quantum-bot-base
    container_name: quantum-bot

  announcement:
    <<: *quantum-bot-base
    container_name: quantum-bot-announcement
    command: python src/run_announcement.py
