{
    "name": "",
    "server_id": 0,
    "announcement_channel_id": 0,
    "language": "EN",
    "timezones": [],
    "schedule": [
        {
            "title": "",
            "description": "",
            "start": "1970-01-01 00:00",
            "end": "1970-01-01 23:59",
            "announcements": [10]
        }
    ],
    "deadlines": [
        {
            "title": "",
            "description": "",
            "time": "1970-01-01 00:00",
            "announcements": [600, 300, 120]
        }
    ]
}
